@import "partials/fonts";
@import "partials/variables";
@import "partials/slider";
@import "partials/asap";
@import "partials/scrollbar";
@import "partials/video";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: $apple-green;
  color: black;
}

input,
textarea,
div,
button,
select,
section,
a {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: $primary;
  text-decoration: none;
}

p {
  font-family: "karrik reg";
  margin: 0;
  font-size: 3.5em;
  hyphens: auto;
  color: $primary;
}

h1 {
  font-family: "karrik reg";
  margin: 0;
  font-size: 6.3em;
  text-transform: uppercase;
  cursor: pointer;
  color: $secondary;
  transition: 0.2s color;
  font-weight: normal;
  &:hover {
    color: $apple-green;
  }
}

// header {
//   font-family: "karrik reg";
//   font-size: 6.3em;
//   text-transform: uppercase;
//   cursor: pointer;
//   color: $secondary;
//   transition: 0.2s color;
//   padding-left: 0.15em;
//   // &:hover {
//   //   color: $apple-green;
//   // }
// }

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  overflow-x: hidden;
}

#asap {
  position: fixed;
  bottom: -200px;
  right: -200px;
  width: 300px;
  height: 300px;
  //background-color: $blue;
  transform: rotate(-45deg);
  transition: 0.2s all;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
  }
  &:hover {
    bottom: -40px;
    right: -50px;
    transform: rotate(-35deg);
  }
}

#main-content {
  //padding: 1em 2em 2em 2em;
  padding: 0 1em 1em 1em;
  // height: 100vh;
}

polygon {
  fill: #ab7c94;
}

::after {
  position: absolute;
}

section {
  border-top: $border solid $secondary;
  border-bottom: $border solid $secondary;
  p {
    padding-bottom: 1em;
    &:first-child {
      padding-top: 0.5em;
    }
  }
  &:not(:last-child) {
    border-bottom: none;
  }
  &:first-child {
    border-top: none;
  }
  &:nth-child(4) {
    transition: 0.2s padding-left;
    h1:after {
      content: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500;' xml:space='preserve'%3E%3Cpolygon fill='%23eaff02' points='247.6,34.3 205.2,76.7 344.8,216.4 46.7,216.4 46.7,276.3 344.8,276.3 205.2,416 247.6,458.4 459.6,246.3 '/%3E%3C/svg%3E");
      display: inline-block;
      width: 60px;
      height: auto;
      opacity: 0;
      transition: opacity 0.1s, transform 0.2s;
      transform: translate(-5px, 0px) rotate(0deg);
    }
    h1:hover:after {
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px) rotate(90deg);
      transition-delay: 0s;
    }
    &:hover {
      padding-left: 30px;
    }
  }
  &:last-child {
    transition: 0.2s padding-left;
    h1:after {
      content: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500;' xml:space='preserve'%3E%3Cpolygon fill='%23eaff02' points='278.6,34.3 236.2,76.7 375.8,216.4 17.7,216.4 17.7,276.3 375.8,276.3 236.2,416 278.6,458.4 490.6,246.3 '/%3E%3C/svg%3E");
      display: inline-block;
      width: 60px;
      height: auto;
      opacity: 0;
      transition: opacity 0.1s, transform 0.2s;
      transform: translate(-5px, 3px) rotate(0deg);
    }
    h1:hover:after {
      opacity: 1;
      visibility: visible;
      transform: translate(10px, 3px) rotate(-45deg);
      transition-delay: 0s;
    }
    &:hover {
      padding-left: 30px;
    }
  }

  .inner-content {
    overflow: hidden;
    height: auto;
    max-height: 0;
    //background-color: red;
    transition: 0.2s max-height ease;
  }
}

#animated-name {
  position: fixed;
  pointer-events: none;
  margin-right:3em;
  // margin-bottom: -2em;
  right: 0;
  bottom: 0;
  width: 40%;
  height: auto;
  // background-color: blue;
  img {
    width: 100%;
    height: auto;
  }
}

// Temporaire

@import "partials/mobile";
