@import "partials/fonts";
@import "partials/variables";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

#main-content {
  padding: 1em;
}

section {
  border-top: $border solid $primary;
  border-bottom: $border solid $primary;
  &:not(:last-child) {
    border-bottom: none;
  }
  &:nth-child(4) {
    transition: 0.2s padding-left;
    h1:after {
      content: url("../img/arrow_3.svg");
      display: inline-block;
      width: 60px;
      height: auto;
      opacity: 0;
      transition: opacity 0.1s, transform 0.2s;
      transform: translate(-5px, 3px) rotate(0deg);
    }
    h1:hover:after {
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 3px) rotate(90deg);
      transition-delay: 0s;
    }
    &:hover {
      padding-left: 30px;
    }
  }
  &:last-child {
    transition: 0.2s padding-left;
    h1:after {
      content: url("../img/arrow_2.svg");
      display: inline-block;
      width: 60px;
      height: auto;
      opacity: 0;
      transition: opacity 0.1s, transform 0.2s;
      transform: translate(-5px, 6px) rotate(0deg);
    }
    h1:hover:after {
      opacity: 1;
      visibility: visible;
      transform: translate(10px, 6px) rotate(-45deg);
      transition-delay: 0s;
    }
    &:hover {
      padding-left: 30px;
    }
  }

  .inner-content {
    overflow: hidden;
    height: auto;
    max-height: 0;
    //background-color: red;
    transition: 0.2s max-height ease;
  }
}

p {
  font-family: "karrik reg";
  margin: 0;
  font-size: 3.5em;
}

h1 {
  font-family: "karrik reg";
  margin: 0;
  font-size: 6.3em;
  text-transform: uppercase;
  cursor: pointer;
}
