@font-face {
    font-family: 'karrik reg';
    src: url('../font/Karrik-Regular.woff2') format('woff2'),
        url('../font/Karrik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'karrik it';
    src: url('../font/Karrik-Italic.woff2') format('woff2'),
        url('../font/Karrik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}